@page "/"
@using LiveLife.Models
@using LiveLife.Services
@inject IJSRuntime Js

<canvas id="worldCanvas"
        width="1024"
        height="1024"
        @onmousedown="OnMouseDown"
        @onmousemove="OnMouseMove"
        @onmouseup="OnMouseUp"
        @onmouseleave="OnMouseUp">
</canvas>

<div class="toolbar">
    @foreach (var type in Enum.GetValues<PixelType>())
    {
        <button class="@GetClass(type)"
                @onclick="() => _currentPixelType = type">
            @type
        </button>
    }
</div>

<div class="toolbar">
    @foreach (var level in _levels)
    {
        <button class="@GetClass(level)"
                @onclick="() => SetLevel(level)">
            @level
        </button>
    }
</div>

@if (_isLevelCompleted)
{
    <div class="level-overlay">
        <div class="level-modal">
            <h1>Уровень @_currentLevel пройден!</h1>

            <button @onclick="CloseLevelCompleted">
                Продолжить
            </button>
        </div>
    </div>
}

@code {
    private const int GridSize = 64;
    private const int PixelSize = 16;
    private readonly int[] _levels = [1, 2, 3, 4];

    private bool _isMouseDown;

    private List<Pixel> _world = [];
    private PixelType _currentPixelType = PixelType.Stone;
    private int _currentLevel = 1;
    private bool _isLevelCompleted;
    
    private readonly LevelLoaderService _levelLoaderService = new(GridSize);


    protected override void OnInitialized()
    {
        _ = SetLevel(_currentLevel);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Js.InvokeVoidAsync("canvasService.init", "worldCanvas", GridSize, PixelSize);
            await Js.InvokeVoidAsync("canvasService.startLoop", DotNetObjectReference.Create(this));
        }
    }

    #region MouseEvents
    
    private async Task OnMouseDown(MouseEventArgs e)
    {
        _isMouseDown = true;
        await Paint(e);
    }

    private async Task OnMouseMove(MouseEventArgs e)
    {
        if (!_isMouseDown)
        {
            return;
        }

        await Paint(e);
    }

    private void OnMouseUp(MouseEventArgs e)
    {
        _isMouseDown = false;
    }
    
    #endregion

    private async Task Paint(MouseEventArgs e)
    {
        var x = (int)(e.OffsetX / PixelSize);
        var y = (int)(e.OffsetY / PixelSize);

        await Js.InvokeVoidAsync("canvasService.paint", x, y, (int)_currentPixelType);
    }

    private string GetClass(PixelType type)
    {
        return type == _currentPixelType ? "active" : "";
    }
    
    private string GetClass(int level)
    {
        return level == _currentLevel ? "active" : "";
    }
    

    private async Task SetLevel(int level)
    {
        _currentLevel = level;
        _world = _levelLoaderService.GenerateWorldByLevel(_currentLevel);
        await Js.InvokeVoidAsync("canvasService.setWorld", _world);
    }
    
    public void ShowLevelCompleted()
    {
        _isLevelCompleted = true;
    }

    private void CloseLevelCompleted()
    {
        _isLevelCompleted = false;
    }
}